{{> head }}
<body>
    {{#if status.online}}
        {{> navbar}}
        {{#if status.none}}        
        <div class="content">
            {{> none}}
        </div>
        {{else}}
        <div class="content">
            {{{ body }}}
        </div>
        {{/if}}
    {{else}}
        {{{ body }}}
    {{/if}}
    <div class="made-by"><a href="https://github.com/zb-venom/" target="_blank">made by Venom</a></div>
</body>
</html>