
{{>head}}
<div style="height: 100vh;
    width: 100vw;
    text-align: center;
    display: table-cell;
    vertical-align: middle;">
    <h1 style="font-size: 3rem;">404</h1>
    <h2 style="font-size: 1.5rem;">Page not found</h2>
    <a href="/" target="_blank" rel="noopener noreferrer" style="font-size: 1.5rem;">HOME</a>
</div>