
{{>head}}
<div style="height: 100vh; text-align: center; vertical-align: middle;">
    <h1 class="e404">404</h1>
    <h2 class="pnf">Page not found</h2>
    <a href="/" target="_blank" rel="noopener noreferrer" class="home">HOME</a>
</div>