
{{>head}}
<div style="
    background-color: rgb(14, 14, 24);
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: table-cell;
    vertical-align: middle;">
    <h1 style="font-size: 4rem; color: rgb(157, 157, 224);" >404</h1>
    <h2 style="font-size: 2rem; color: rgb(157, 157, 224);">Page not found</h2>
    <a href="/" style="font-size: 3rem; color: rgb(157, 157, 224);">HOME</a>
</div>