<div class="index">
    <form action="/reg" method="get">
        <button type="submit">Регистрация</button>
    </form>
    <form action="/auth" method="get">
        <button type="submit">Войти</button>
    </form>
    <br>
    <h5>Авторизироваться через:</h5>
    <div id="uLogin" data-ulogin="display=panel;
                theme=flat;fields=first_name,last_name;providers=vkontakte,yandex,google;
                hidden=;redirect_uri=https%3A%2F%2Fadas-tusur.herokuapp.com%2Fapi%2Fauth;mobilebuttons=0;"></div>
</div>