<div class="index">
    <form action="/reg" method="get">
        <button type="submit">Регистрация</button>
    </form>
    <form action="/auth" method="get">
        <button type="submit">Войти</button>
    </form>
</div>