

<div class="logs">
    <p class="p-logs">Пользователь&nbsp;:&nbsp;Оборудование&nbsp;:&nbsp;Получил&nbsp;:&nbsp;Вернул</p> 
    {{#each logs}}
        <br>
        <p class="p-logs">{{about}}&nbsp;:&nbsp;{{device_id}}&nbsp;:&nbsp;{{received}}&nbsp;:&nbsp;{{returned}}</p>
    {{/each}}
</div>