


<p class="logs">Пользователь&nbsp;:&nbsp;Оборудование&nbsp;:&nbsp;Получил&nbsp;:&nbsp;Вернул</p> 
{{#each logs}}
    <p class="logs">{{user_id}}&nbsp;:&nbsp;{{device_id}}&nbsp;:&nbsp;{{received}}&nbsp;:&nbsp;{{returned}}</p>
{{/each}}