<div class="logs">
    <div class="logs-head">Журнал</div>
    <div class="logs-body">
        <label class="col-2">Пользователь</label>
        <label class="col-2">Оборудование</label>
        <label class="col-2">Получил</label>
        <label class="col-2">Вернул</label>
        {{#each logs}}            
            <label class="col-2">Пользователь</label>
            <label class="col-2">Оборудование</label>
            <label class="col-2">Получил</label>
            <label class="col-2">Вернул</label>
        {{/each}}
        </div>
</div>