<div class="index" style="padding: 1rem 0 1rem 0">
    <div class="text-center">
        <h1>Смена пароля для {{login}}</h1>
        <h5>Введите данные</h5>
        {{#if error}}        
            <div class="alert alert-danger" role="alert">
            {{error}}
            </div>
        {{/if}}
        <form action="/new_password/{{hash}}" method="post">
            <input type="password" id="password" name="password" placeholder="Пароль" onKeyUp="this.value = this.value.replace(/[^a-zA-Z0-9?!,._\-@#]/,'');" required>
            <input type="password" id="password2" placeholder="Повторите пароль" onKeyUp="this.value = this.value.replace(/[^a-zA-Z0-9?!,._\-@#]/,'');" required><br>
            <small>Пароль должен содержать как минимум <br>8 латинских символов, цифр и знаков: ?!,._-@#</small><br>
            <button type="button" id="see" onclick="seepass()" >Показать пароль</button>
            <button type="submit" id="in" >Продолжить</button>
        </form>
    </div>
</div>

<script>   
function seepass() {
    if ($("#password").prop('type') == 'password') {
        $("#password").attr('type','text');
        $("#see").html('Скрыть пароль');
        $("#password2").attr('type','text');
    } else {
        $("#password").attr('type','password');
        $("#see").html('Показать пароль');
        $("#password2").attr('type','password');
    }
}

setInterval(()=>{  
    if ($("#password").val() != $("#password2").val()){
        $("#password").addClass('input-tr');
        $("#password2").addClass('input-tr');
    } else {
        $("#password").removeClass('input-tr');
        $("#password2").removeClass('input-tr');
    }
    if ($("#password").val() == $("#password2").val() && $("#password").val().length >= 8)
        $("#in").attr("disabled", false);
    else 
        $("#in").attr("disabled", true);
}, 500)
</script>